@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.grid-wrap {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

/* Fix chrome auto-fill input background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
}

html {
	font-size: 1rem;
	scroll-behavior: smooth;
}
body {
	margin: 0px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
	width: 6px; /* for vertical scrollbars */
	height: 6px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
	background: rgba(100, 100, 100, 0.05);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: rgba(100, 100, 100, 0.25);
	border-radius: 10px;
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}
