@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix chrome auto-fill input background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
}

html {
	font-size: 1rem;
}
body {
	margin: 0px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
